.texte1 {
    font-size: 30px;
    margin-top: 50px;
    text-decoration: solid;
    
    
    
}

nav {
    background-color: brown;
}

nav div ul li a {
    color: white;
}

.copyright {
    background-color: brown;
}

.taille {
    height: 30px;
    width: 40px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

body {
    width: 100%;
    overflow: hidden;
}


.devanture {
    
    margin-left:140px;
    

}

#ando1 {
    text-align:center;
    font-family:  cursive;
    color:black;
   
}

#ando2 {
    text-align:center;
    font-family: cursive;
    color:;
    
}


#ando3 {
    text-align:center;
    font-family: cursive;
    color:brown;
    
}